<!-- <div *ngIf="tab === 'outlets'">
    <app-outlets (tab)="setTab($event)"></app-outlets>
</div>
<div *ngIf="tab === 'outlet'">
    <app-outlet (tab)="setTab($event)" [outlet]="outlet"></app-outlet>
</div>
<div *ngIf="tab === 'dish'">
    <app-dishes [dish]="dish"></app-dishes>
</div> -->

<router-outlet></router-outlet>