<div id="login">

    <div class="login">
        <h1 class="logo">
            is<b>hotel</b>
        </h1>
        <p>{{ 'LOGIN.HELP_TEXT' | translate }}</p>
        <form class="login-box" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <input formControlName="email" placeholder="{{ 'LOGIN.EMAIL' | translate }}">
            <input formControlName="password" placeholder="{{ 'LOGIN.PASSWORD' | translate }}" type="password">
            <button type="submit">{{ 'LOGIN.SIGNIN' | translate }}</button>
        </form>
        <small>{{ 'LOGIN.FORGET' | translate }}</small>
    </div>

    <!-- <div class="float-error" *ngIf="loginForm.controls.email.errors && loginForm.controls.email._touched">
        {{ 'VALIDATOR.EMPTY_FIELD' | translate }}
    </div> -->

</div>