@import "../../variables.scss";

#login {
    position: relative;
    height: 100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$primaryLight+0,303d50+100 */
    background: $primaryLight; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, $primaryLight 0%, $blueLight 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, $primaryLight 0%,$blueLight 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, $primaryLight 0%,$blueLight 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primaryLight', endColorstr='$blueLight',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.login {
    position: absolute;
    width: 256px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .logo {
        font-family: 'Muli', sans-serif;
        font-size: 4rem;
        font-weight: lighter;
        text-align: center;
        color: $primaryLight;
        margin: 0;
        b {
            font-weight: 900;
            color: #fff;
        }
    }

    p {
        color: white;
        margin: 0;
        font-size: 14px;
    }

    small {
        color: $baseBorder;
        margin: 0;
        font-size: 12px; 
    }

    .login-box {
        display: block;
        padding: 32px;
        background-color: white;
        border-radius: 12px;
        margin: 16px 0;
        position: relative;
        
        input {
            display: block;
            color: $blueBorder;
            width: calc(100% - 24px);
            padding: 8px 12px;
            border: none;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            margin-bottom: 2px;
            background-color: $baseBorder;
            &:first-child {
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            &::placeholder {
                color: $blueLight;
            }
        }

        button {
            margin-top: 32px;
            background-color: $blueLight;
            padding: 8px 12px;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 12px;
            width: 100%;
            cursor: pointer;
            &:hover {
                background-color: $blueBorder;
            }
        }
    }
}