<section>
    <h2>{{ 'OUTLET.TITLE' | translate }}</h2>
    <hr class="body">
    <div class="outlet-list" *ngIf="outlets">
        <div class="outlet-preview" *ngFor="let outlet of outlets">
            <div>
                <h3 (click)="onViewOutlet(outlet?.id)">{{ outlet?.name }}</h3>
                <small>{{ outlet?.recipes }} {{ 'OUTLET.DISHES' | translate }}</small>
                <b>
                    {{ outlet?.average_cost | number }}
                    Bs.
                </b>
                <button (click)="onViewOutlet(outlet?.id)">{{ 'OUTLET.VIEW' | translate }}</button>
            </div>
        </div>
    </div>
</section>