@import "../../variables.scss";

section {
    padding: 0 32px;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    color: $grayLight;
    font-weight: normal;
}

.outlet-list {
    height: calc(100vh - 256px);
    overflow-y: auto;
    overflow-x: hidden;
}

.outlet-preview {
    float: left;
    width: calc(33.33333333% - 16px);
    margin-bottom: 16px;
    &:nth-child(1), &:nth-child(3n+1) {
        padding-right: 8px;
    }
    &:nth-child(3n+0) {
        padding-left: 8px;
    }

    @media screen and (max-width: 1000px) {
        width: 100%;
        page-break-after: 0;
    }

    div {
        position: relative;
        padding: 16px;
        background-color: white;
        box-shadow: 1px 2px 3px 1px #c3c3c3;
        h3 {
            display: block;
            font-size: 21px;
            margin: 0;
            letter-spacing: 1px;
            color: $primaryDark;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        small {
            display: block;
            color: $grayLight;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 16px;
        }
        b {
            font-size: 17px;
            color: $grayDark;
        }
        button {
            position: absolute;
            bottom: 16px;
            right: 16px;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 10px;
            padding: 4px 8px;
            border: none;
            border-radius: 12px;
            background-color: $primaryLight;
            cursor: pointer;
            &:hover {
                background-color: $primaryDark;
            }
        }
    }
}