@import "../../variables.scss";

section {
    padding: 0 32px;
}

.header-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 240px repeat(3, 1fr);

	.image {
		grid-column: 1;
		grid-row: 1 / 3;
	}
	.title {
		grid-column: 2 / 5 ;
		grid-row: 1;
	}
	.a {
		grid-column: 2;
		grid-row: 2 ;
	}
	.b {
		grid-column: 3;
		grid-row: 2;
	}
	.c {
		grid-column: 4;
		grid-row: 2;
    }
    
    .small {
        border: 2px solid $baseBorder;
        padding: 8px 12px;
        font-size: 12px;
        color: $grayDark;
        letter-spacing: 0.5px;
        max-height: 32px;
        span {
            display: block;
        }
        b {
            color: initial;
            font-size: 16px;
        }
    }
    // .image > object, .image > object > img,
    .image {
        height: 150px;
        width: 150px;
        background-image: url('../../assets/images/dish.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}



h2 {
    margin: 0;
    text-transform: uppercase;
    color: $grayLight;
    font-weight: normal;
}

.dish-table {
    font-weight: bold;
    letter-spacing: 0.2px;

    .thead, .trow {
        display: grid;
        grid-template-columns: auto 130px 130px 200px 200px;
    }

    .ingredient {
        grid-column: 1;
    }
    .quantity {
        grid-column: 2;
    }
    .unit {
        grid-column: 3;
    }
    .unit_cost {
        grid-column: 4;
        text-align: right;
    }
    .total_cost {
        grid-column: 5;
        text-align: right;
    }

    .thead > span {
        text-transform: uppercase;
        color: $baseDark;
        padding: 12px;
    }
    .trow > span {
        color: $grayDark;
        background-color: $baseBorder;
        padding: 12px;
    }

    .trow > span:not(:last-child) {
        border-right: 2px solid $baseDark;
    }

    .trow {
        margin-bottom: 8px;
    }
}