<section>
    <div class="header-wrapper">
        <div class="image" 
        [style.background-image]="'url(' + dish?.image + ')'"></div>
        <div class="title">
            <h2>{{ dish?.name }}</h2>
            <hr class="body">
        </div>
        <div class="small .b">
            <span>{{ 'DISH.DISH_COST' | translate }}</span>
            <b>{{ dish?.cost | number }} Bs.</b>
        </div>
        <div class="small .c">
            <span>{{ 'DISH.CONT_COST' | translate }}</span>
            <b>{{ dish?.contribution_margin | number }} Bs.</b>
        </div>
        <div class="small .a">
            <span>{{ 'DISH.TOTAL_COST' | translate }}</span>
            <b>{{ dish?.cost + dish?.contribution_margin | number }} Bs.</b>
        </div>
    </div>

    <div class="dish-table" *ngIf="dish">
        <div class="thead">
            <span class="ingredient">{{ 'DISH.INGREDIENT' | translate }}</span>
            <span class="quantity">{{ 'DISH.QUANTITY' | translate }}</span>
            <span class="unit">{{ 'DISH.UNIT' | translate }}</span>
            <span class="unit_cost">{{ 'DISH.UNIT_COST' | translate }}
                <small>Bs.</small>
            </span>
            <span class="total_cost">{{ 'DISH.TOTAL_COST' | translate }}
                <small>Bs.</small>
            </span>
        </div>
        <div class="trow" *ngFor="let ingredient of dish?.ingredients">
            <span class="ingredient">{{ ingredient?.name }}</span>
            <span class="quantity">{{ ingredient?.amount | number }}</span>
            <span class="unit">{{ ingredient?.presentation }}</span>
            <span class="unit_cost">{{ ingredient?.cost | number }}</span>
            <span class="total_cost">{{ ingredient?.cost * ingredient?.amount | number }}</span>
        </div>
    </div>
</section>