<div class="divider blue"></div>
<div class="client padding">
    <h2>{{ (client.length > 19) ? (client | slice:0:19) + '...' : (client) }}</h2>
    <p>{{ (user.length > 30) ? (user | slice:0:30) + '...' : (user) }}</p>
</div>
<div class="divider blue"></div>
<div class="date padding">
    <p>{{ today | date : 'fullDate' }}</p>
</div>
<div class="menu padding">
    <button (click)="onViewOutletList()">
        <span>{{ 'MENU.OUTLET' | translate }}</span>
        <i class="material-icons">chevron_right</i>
    </button>
</div>
<footer>
    <button class="signuot" (click)="onLogout()">
        {{ 'MENU.SIGNOUT' | translate }}
    </button>
</footer>