@import "../../variables.scss";

.client {
    color: #fff;

    h2 {
        font-size: 1.45rem;
        margin: 0;
    }

    p {
        margin: 0;
    }

}

.date p {
    color: #fff;
    margin: 0;
    background-color: $blueLight;
    padding: 8px 16px;
}

.menu button {
    position: relative;
    color: $blue;
    text-align: left;
    font-weight: bold;
    background-color: $primaryLight;
    text-transform: uppercase;
    padding: 8px 16px;
    border: none;
    width: 100%;
    cursor: pointer;
    i {
        position: absolute;
        top: 4px;
        right: 0;
        transition: 0.4s;
    }
    &:hover {
        background-color: $primaryDark;
        i {
            right: 2px;
        }
    }
}

.signuot {
    position: relative;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: $blueLight;
    text-transform: uppercase;
    padding: 8px 16px;
    border: none;
    width: 100%;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 300px;
}

