<div class="grid-container">
    <div class="logo">is<b>hotel</b></div>
    <app-sidebar class="sidebar"></app-sidebar>
    <app-header class="header"></app-header>
    <app-body class="body"></app-body>
    <app-footer class="footer"></app-footer>
  </div>