@import "../../variables.scss";

.grid-container {
    
    display: grid;
    height: 100vh;
    grid-template-columns: 300px auto;
    grid-template-rows: 128px auto 40px;
    grid-template-areas:
    'logo    header'
    'sidebar body'
    'sidebar footer';
    background-color: #e5e5e5;

    .logo {
        grid-area: logo;
        font-family: 'Muli', sans-serif;
        font-size: 4rem;
        font-weight: lighter;
        text-align: center;
        color: $primaryLight;
        padding: 25px;
        background-color: $blueLight;
        b {
            font-weight: 900;
            color: #fff;
        }
    }

    app-sidebar {
        grid-area: sidebar;
        background-color: #1a222f;
    }
    
    app-header {
        grid-area: header;
    }
    
    app-body {
        grid-area: body;
    }
    
    app-footer {
        grid-area: footer;
    }

    @media only screen and (max-width: 969px) {
        app-header, app-body {
            margin-right: 0;
        }
    }

    @media only screen and (min-width: 970px) {
        app-header, app-body {
            margin-right: 64px;
        }
    }
}