<section *ngIf="outlet">
    <div class="header-wrapper">
        <h2>{{ outlet.name }}</h2>
        <span class="left">
            {{ 'OUTLET.TOTAL_COST' | translate }}
            <b>{{ outlet?.total_cost | number }} Bs.</b>
        </span>
        <span class="right">
            {{ 'OUTLET.AVERAGE' | translate }}
            <b>{{ outlet?.average_cost | number }} Bs.</b>
        </span>
    </div>
    <hr class="body">
    <div class="outlet-table">
        <div class="thead">
            <span class="name">{{ 'OUTLET.DISH_NAME' | translate }}</span>
            <span class="cost">{{ 'OUTLET.COST' | translate }}
                <small>Bs.</small>
            </span>
        </div>
        <div class="trow" *ngFor="let dish of outlet?.recipes">
            <span class="name" (click)="onViewDish(dish?.id)">{{ dish?.name }}</span>
            <span class="cost">{{ dish?.cost | number }}</span>
        </div>
    </div>
</section>