@import "../../variables.scss";

section {
    padding: 0 32px;
}

.header-wrapper {
    display: grid;
    grid-gap: 16px;
}

@media only screen and (max-width: 969px) {
    .header-wrapper {
        grid-template-columns: max-content max-content max-content;
        
        h2 {
            grid-column: 1 / 3;
            grid-row: 1;
        }
        .left {
            grid-column: 1;
            grid-row: 2;
        }
        .right {
            grid-column: 2;
            grid-row: 2;
        }
    }
}

@media only screen and (min-width: 970px) {
    .header-wrapper {
        grid-template-columns: auto max-content max-content;

        h2 {
            grid-column: 1;
            grid-row: 1;
        }
        .left {
            grid-column: 2;
            grid-row: 1;
        }
        .right {
            grid-column: 3;
            grid-row: 1;
        }
    }
}

h2 {
    margin: 0;
    text-transform: uppercase;
    color: $grayLight;
    font-weight: normal;
}
span.left, span.right {
    border: 2px solid $baseBorder;
    padding: 4px 6px;
    font-size: 12px;
    color: $grayDark;
    letter-spacing: 0.5px;
}

.outlet-table {
    font-weight: bold;
    letter-spacing: 0.2px;

    .thead, .trow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .thead > span.name, .trow > span.name {
        grid-column: 1 / 3;
    }
    .thead > span.cost, .trow > span.cost {
        grid-column: 3;
    }

    .thead > span.name, .thead > span.cost {
        text-transform: uppercase;
        color: $baseDark;
        padding: 12px;
    }
    .trow > span.name, .trow > span.cost {
        color: $blueLight;
        background-color: $baseBorder;
        padding: 12px;
    }

    .trow {
        margin-bottom: 8px;
    }

    .trow > span.name {
        cursor: pointer;
        border-right: 2px solid $baseDark;
        &:hover {
            text-decoration: underline;
        }
    }
    .trow > span.cost {
        color: $grayDark;
        text-align: right;
    }
}

