@import "../../variables.scss";

* {
    box-sizing: border-box;
}
  
form {
    padding: 0 32px;
    margin: 48px 0;
}

form input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: calc(100% - 32px);
    background: white;
    height: 32px;
    border: 0;
}

form button {
    float: left;
    width: 32px;
    padding: 4px;
    background: $primaryLight;
    color: white;
    border: none;
    border-left: none;
    cursor: pointer;
    height: 32px;
}
  
form button:hover {
    background: $primaryDark;
}

form::after {
    content: "";
    clear: both;
    display: table;
}