/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Baumans');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
@import "./variables.scss";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(assets/icons/MaterialIcons-Regular.woff2) format('woff2'),
        url(assets/icons/MaterialIcons-Regular.woff) format('woff'),
        url(assets/icons/MaterialIcons-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.padding {
    padding: 32px;
}

.divider {
    height: 4px;
}

.divider.blue {
    background: $blueBorder;
}

.divider.gray {
    background: $baseBorder;
}

h2 {
    letter-spacing: 0.3px;
}

hr.body {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid $baseBorder;
    margin: 12px 0;
    padding: 0; 
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}