$blue:          #1a222f;
$blueBorder:    #171e2a;
$blueLight:     #303d50;
$primaryLight:  #1dd7ce;
$primaryDark:   #26bfb8;
$base:          #e5e5e5;
$baseBorder:    #cccccc;
$baseDark:      #bbbbbb;
$grayLight:     #555555;
$grayDark:      #26262e;